attrs==19.1.0
beautifulsoup4==4.7.1
blis==0.2.4
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
cymem==2.0.2
datasketch==1.4.5
decorator==4.4.0
docutils==0.14
en-core-web-sm==2.1.0
graphviz==0.11
idna==2.8
jsonschema==3.0.1
murmurhash==1.0.2
networkx==2.3
numpy==1.16.4
plac==0.9.6
preshed==2.0.1
pyrsistent==0.15.2
redis==3.2.1
requests==2.22.0
six==1.12.0
soupsieve==1.9.2
spacy==2.1.4
srsly==0.0.7
statistics==1.0.3.5
thinc==7.0.4
tqdm==4.32.2
urllib3==1.25.3
wasabi==0.2.2
